#F{
    font-family: "Space Grotesk", sans-serif;
}
#hT{
    font-family: "Space Grotesk", sans-serif;
}

.anchor {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 50px;
    border: 2px solid #000000;
    padding: 14px;
    font-size: 14px;
    overflow: hidden;
    position: relative;
    margin-left: 1px;
  }
  
  .anchor:hover {
    color: #4e484a;
  }
  
  .bt a::before {
    position: absolute;
    content: "";
    z-index: 0;
    background-color: #000000;
    left: -5px;
    right: -5px;
    bottom: -5px;
    height: 111%;
    transition: all .3s ease;
  }
  
  .bt a:hover::before {
    height: 11%;
  }
  
  .bt span {
    position: relative;
    z-index: 2;
    transition: all .3s ease;
  }
@media screen and (max-width: 1020px){
    .Aimg{
        height: 100vh;
    }
}
@media screen and (max-width: 640px){
    .anchor{
        padding: 12px;
        font-size: 12px;
    }
}